__pycache__
.ipynb_checkpoints
parameters
data/path.dataset/*csv
data/path.dataset/*labio.txt
data/path.dataset/*smbmap.txt
data/path.dataset/dataset_labio*
data/path.dataset/*ti.txt
data/pe.dataset/PeX86Exe
*raw
*npy
*pickle
*.api
*torch
data/emulation.dataset/report_*
adversarial/samples_adversarial_testset
adversarial/samples_testset
adversarial/MAB-malware
