__pycache__
.ipynb_checkpoints
parameters
data/path.dataset/*csv
data/path.dataset/*labio.txt
data/path.dataset/*smbmap.txt
data/path.dataset/dataset_labio*
data/path.dataset/*ti.txt
data/pe.dataset/PeX86Exe
data/pe.dataset/testset
data/adversarial.emulation.dataset/reports_*
data/emulation.dataset/report_*
*raw
*npy
*pickle
*.api
*torch
evaluation/adversarial/samples_adversarial_testset*
evaluation/adversarial/samples_testset
evaluation/adversarial/mab_malware
