ipykernel==5.5.6
ipython==7.16.3
pandas
pefile
unicorn
jupyter
numpy
sklearn
torch
xgboost
matplotlib
seaborn
lightgbm
git+https://github.com/mandiant/speakeasy.git
git+https://github.com/elastic/ember.git
git+https://github.com/pralab/secml_malware.git